@{
    ViewBag.Title = "Home Page";
    string singleRoom="", doubleRoom="", superiorRoom="", status="";
    status = ViewBag.Status;
    int single = status.Split('.')[0].AsInt();
    int doub = status.Split('.')[1].AsInt();
    int sup = status.Split('.')[2].AsInt();
    if (status.Split('.')[0] == "0")
    {
        singleRoom = "No Vacancy!";
    }
    else
    {
        singleRoom = "Vacancy";
    }

    if (status.Split('.')[1] == "0")
    {
        doubleRoom = "No Vacancy!";
    }
    else
    {
        doubleRoom = "Vacancy";
    }

    if (status.Split('.')[2] == "0")
    {
        superiorRoom = "No Vacancy!";
    }
    else
    {
        superiorRoom = "Vacancy";
    }
}
<script>
    var singleNo = "@single";
    var doubleNo = "@doub";
    var superiorNo = "@sup";
</script>
<!--About-->
<div id="about" class="container text-center">
    <h3>ABOUT HOTEL</h3>
    <p><em>We love our Customer!</em></p>
    <p>We have created a fictional hotel website for customer! Our hotel offers a centralised location ideal for the corporate traveler, providing a quality Invercargill accomodation 
    option consisting of 3 types of bed rooms, including single bed room (maximum 2 people), double bed room (maximum 4 people), and superior bed room (maximum 2 people). All rooms have 
    high speed broadband, good size work desks ideal for  the busy corporate, minibar, SKY TV and rooms.</p>
    <p>Car parking: As you would expect, complimentary valet car parking is offered to all Hotel guests. Our hotel has own secure parking located inside city.</p>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <p class="text-center"><strong>OUR SERVICE</strong></p><br>
            <a href="#demo" data-toggle="collapse">
                <img src="~/Images/roomservice.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
            </a>
            <div id="demo" class="collapse">
                <p>Fantastic room service and tidy!</p>
                <p>Our staff love their customer, they lovely to provide extremely service</p>
            </div>
        </div>
        <div class="col-sm-4">
            <p class="text-center"><strong>OUR STAFF</strong></p><br>
            <a href="#demo2" data-toggle="collapse">
                <img src="~/Images/Receptionist.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
            </a>
            <div id="demo2" class="collapse">
                <p>We have quality training staff!</p>
                <p>Our staff love their customer, they lovely to provide extremely service</p>
            </div>
        </div>
        <div class="col-sm-4">
            <p class="text-center"><strong>OUR FOOD</strong></p><br>
            <a href="#demo3" data-toggle="collapse">
                <img src="~/Images/Food.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
            </a>
            <div id="demo3" class="collapse">
                <p>You will love our food!</p>
                <p>We provide plenty of menu for your yummy breakfast, lunch, or dinner</p>
            </div>
        </div>
    </div>
</div>

<!--Booking-->
<div id="booking" class="bg-1">
    <div class="container">
        <div id="confirm" class="text-center"><h4>@ViewBag.Confirm</h4></div>
        <h3 class="text-center">Room Booking</h3>
        <p class="text-center">We have rooms.<br> You can book your room here!</p>

        <ul class="list-group">
            <li class="list-group-item">Single Room <span id="singleRoom" class="label label-danger">@singleRoom</span></li>
            <li class="list-group-item">Double Room <span id="doubleRoom" class="label label-danger">@doubleRoom</span></li>
            <li class="list-group-item">Superior Room <span id="superiorRoom" class="label label-danger">@superiorRoom</span></li>
        </ul>

        <div class="row text-center">
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="~/Images/img2.jpg" alt="Single Room" width="400" height="300">
                    <p><strong>Single Room (Max. 2 people)</strong></p>
                    <p>$150/night</p>
                    <button class="btn" id="single" data-toggle="modal" data-target="#bookingInfo">Booking</button>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="~/Images/img1.jpg" alt="Double Room" width="400" height="300">
                    <p><strong>Double Room (Max. 4 people)</strong></p>
                    <p>$250/night</p>
                    <button class="btn" id="double" data-toggle="modal" data-target="#bookingInfo">Booking</button>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="~/Images/img3.jpg" alt="Superior Room" width="400" height="300">
                    <p><strong>Superior Room (Max. 2 people)</strong></p>
                    <p>$400/night</p>
                    <button class="btn" id="superior" data-toggle="modal" data-target="#bookingInfo">Booking</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="bookingInfo" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove-circle"></span></button>
                    <h4><span class="glyphicon glyphicon-briefcase"></span> Booking</h4>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("OnlineBooking", "Booking", FormMethod.Post, new {@id="bookingForm"}))
                    {
                        @Html.AntiForgeryToken()
                        <!--Personal Info-->
                        <div id="info" class="form-group">
                            <p><span class="glyphicon glyphicon-asterisk text-danger"></span> is not empty!</p>
                            <br />
                            <input type="hidden" id="roomTypeID" name="roomTypeID" value="" />
                            <!--First name-->
                            <label for="firstName"><span class="glyphicon glyphicon-user"></span> First Name <span class="glyphicon glyphicon-asterisk text-danger"></span></label>
                            <input type="text" class="form-control" name="firstName" id="firstName" value="" placeholder="Enter first name" required />
                            <!--last name-->
                            <label for="lastName"><span class="glyphicon glyphicon-user"></span> Last Name <span class="glyphicon glyphicon-asterisk text-danger"></span></label>
                            <input type="text" class="form-control" name="lastName" id="lastName" value="" placeholder="Enter Last name" required />
                            <!--Person Identity-->
                            <label for="identity"><span class="glyphicon glyphicon-user"></span> Person Identity <span class="glyphicon glyphicon-asterisk text-danger"></span></label>
                            <input type="text" class="form-control" name="identity" id="identity" value="" placeholder="Enter passport number, driver licence, etc..." required />
                            <!--Number of room-->
                            <label for="rooms"><span class="glyphicon glyphicon-list"></span> Number of Rooms <span class="glyphicon glyphicon-asterisk text-danger"></span></label>
                            <select class="form-control" name="rooms" id="rooms"></select>
                            <!--Check in-->
                            <label for="checkin"><span class="glyphicon glyphicon-calendar"></span> Check-in <span class="glyphicon glyphicon-asterisk text-danger"></span></label>
                            <input type="date" class="form-control" name="checkin" id="checkin" value="" placeholder="Select a date" required />
                            <!--Check out-->
                            <label for="checkout"><span class="glyphicon glyphicon-calendar"></span> Check-in <span class="glyphicon glyphicon-asterisk text-danger"></span></label>
                            <input type="date" class="form-control" name="checkout" id="checkout" value="" placeholder="Select a date" required />
                            
                            <hr />
                            <!--Card number-->
                            <div>
                                <label for="cardNumber"><span class="glyphicon glyphicon-credit-card"></span> Card Number <span class="glyphicon glyphicon-asterisk text-danger"></span></label>
                                <input type="text" class="form-control" name="cardNumber" id="cardNumber" value="" placeholder="Enter your card number" maxlength="16" required />
                            </div>
                            <!--Name holder-->
                            <div>
                                <label for="nameHolder"><span class="glyphicon glyphicon-credit-card"></span> name holder <span class="glyphicon glyphicon-asterisk text-danger"></span></label>
                                <input type="text" class="form-control" name="nameHolder" id="nameHolder" value="" placeholder="Enter your name on the card" required />
                            </div>
                            <div>
                                <div>
                                    <label for="date"><span class="glyphicon glyphicon-calendar"></span> Date <span class="glyphicon glyphicon-asterisk text-danger"></span></label>
                                </div>
                                <input type="text" class="narrow-font" name="month" id="month" value="" placeholder="Month" size="2" required maxlength="2" /> /
                                <input type="text" class="narrow-font" name="year" id="year" value="" placeholder="Year" size="4" required maxlength="4" />  
                            </div>
                            <div>
                                <div>
                                    <label for="code"><span class="glyphicon glyphicon-barcode"></span> Security code <span class="glyphicon glyphicon-asterisk text-danger"></span></label>
                                </div>
                                <input type="text" class="narrow-font" name="code" id="code" value="" placeholder="code" size="3" required maxlength="3" />
                            </div>
                        </div>
                        <div>
                            <button id="submit" class="btn btn-block">
                                Submit <span class="glyphicon glyphicon-ok"></span>
                            </button>
                        </div>
                    }
                </div>
                <div class="modal-footer">
                    <button id="cancel" class="btn btn-default pull-right" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove"></span> Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Contact-->
<div id="contact" class="container">
    <h3 class="text-center">Contact</h3>
    
    <div class="row">
        <div class="col-md-3">
            <p><span class="glyphicon glyphicon-map-marker"></span>Invercargill, NZ</p>
            <p><span class="glyphicon glyphicon-phone"></span>Phone: +64 111 111</p>
            <p><span class="glyphicon glyphicon-envelope"></span>Email: mail@mail.com</p>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-sm-6 form-group">
                    <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
                </div>
                <div class="col-sm-6 form-group">
                    <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                </div>
            </div>
            <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
            <br>
            <div class="row">
                <div class="col-md-12 form-group">
                    <button class="btn pull-right" type="submit">Send</button>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
<!--Google map-->
<div id="googleMap"></div>
