@using Hotel.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<h2 class="text-center">@ViewBag.Title.</h2>
<div class="row">
    <div>
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                
                <hr />
                @*
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                *@
                <div class="form-group">
                    <label for="acc"><span class="glyphicon glyphicon-user"></span> Account Name</label>
                    <input type="text" class="form-control" name="acc" id="acc" value="" placeholder="Enter your account" required />
                </div>
                <div class="form-group">
                    <label for="pass"><span class="glyphicon glyphicon-asterisk"></span> Password</label>
                    <input type="password" class="form-control" name="pass" id="pass" value="" placeholder="Enter your password" required />
                </div>
                @*<div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>*@
                <div class="form-group">
                    <div class="col-md-offset-9 col-md-10">
                        <input type="submit" value="Log in" class="btn btn-default" />
                    </div>
                </div>
                @*
                <p>
                    @Html.ActionLink("Register as a new user", "Register")
                </p>
                    *@
                @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
            }
        </section>
    </div>
    @*
    <div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
    *@
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}